@page "{stuffid}"
@model DrCost.Pages.Budget.Stuff.EditModel
@{
}

Редактирование покупки

<form method="post">
    <input type="hidden" asp-for="@Model.Item.Date" />
    <input type="hidden" asp-for="@Model.Item.budgetId" />
    <input type="hidden" asp-for="@Model.Item.Id" />

    <div class="mb-3">
        <label asp-for="@Model.Item.Name" class="form-label">Наименование</label>
        <input asp-for="@Model.Item.Name" type="text" class="form-control" placeholder="@Model.Item.Name">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.price" class="form-label">Стоимость</label>
        <input asp-for="@Model.price" class="form-control" type="number" step="0.01">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.count" class="form-label">Количество</label>
        <input asp-for="@Model.count" class="form-control" type="number" step="0.01">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Item.Description" class="form-label">Пояснение</label>
        <textarea asp-for="@Model.Item.Description" class="form-control" rows="5">@Model.Item.Description</textarea>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Item.currencyName" class="form-label">Валюта: [@Model.Item.currencyName]</label>
        <input asp-for="@Model.Item.currencyName" class="form-control" type="text">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.currencyPriceInRub" class="form-label">Курс: [@Model.currencyPriceInRub]</label>
        <input asp-for="@Model.currencyPriceInRub" class="form-control" type="number" step="0.0001">
    </div>

    <button type="submit" class="button button-green">Save</button>
    <a asp-page="/budget/spending" asp-route-budgetId="@Model.Item.budgetId" asp-route-date="@Model.Item.Date.ToShortDateString()" class="button button-silver">Отмена</a>
    <input asp-page-handler="Delete" type="submit" value="Delete" class="button button-red">
</form>